langchain
langchain-community
langchain-core
langchain-google-vertexai
google-cloud-aiplatform
markdown
scipy
scikit-learn
pandas
numpy
lightgbm
langchain-neo4j
neo4j
fastapi
uvicorn
python-dotenv
pydantic==2.11.7
unstructured
joblib